In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("80111_output.csv")

In [4]:
df

    ID  Orginal Price  Predicted Price
0    1      1249000.0           751391
1    2       220000.0           255736
2    3      1250000.0          1088912
3    4       599900.0           604636
4    5       986950.0          4856484
..  ..            ...              ...
61  62      1470000.0           654014
62  63       661559.0          1567971
63  64       715000.0           873564
64  65       524900.0           751391
65  66       677544.0           255736

[66 rows x 3 columns]

In [5]:
df.count()

ID                 66
Orginal Price      66
Predicted Price    66
dtype: int64

In [6]:
df.isnull()

       ID  Orginal Price  Predicted Price
0   False          False            False
1   False          False            False
2   False          False            False
3   False          False            False
4   False          False            False
..    ...            ...              ...
61  False          False            False
62  False          False            False
63  False          False            False
64  False          False            False
65  False          False            False

[66 rows x 3 columns]

In [7]:
df.describe()

              ID  Orginal Price  Predicted Price
count  66.000000   6.600000e+01     6.600000e+01
mean   33.500000   8.049797e+05     1.073146e+06
std    19.196354   3.915756e+05     1.014718e+06
min     1.000000   1.825000e+05     2.557360e+05
25%    17.250000   5.842618e+05     6.664418e+05
50%    33.500000   7.665345e+05     7.473525e+05
75%    49.750000   9.907000e+05     1.088912e+06
max    66.000000   1.910991e+06     4.856484e+06

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               66 non-null     int64
 1   Orginal Price    66 non-null     float64
 2   Predicted Price  66 non-null     int64
dtypes: float64(1), int64(2)
memory usage: 1.7 KB

In [9]:
df.head()

   ID  Orginal Price  Predicted Price
0   1      1249000.0           751391
1   2       220000.0           255736
2   3      1250000.0          1088912
3   4       599900.0           604636
4   5       986950.0          4856484

In [10]:
df.tail()

    ID  Orginal Price  Predicted Price
61  62      1470000.0           654014
62  63       661559.0          1567971
63  64       715000.0           873564
64  65       524900.0           751391
65  66       677544.0           255736

In [11]:
df.isnull().sum()

ID                 0
Orginal Price      0
Predicted Price    0
dtype: int64

In [12]:
df.nunique()

ID                 66
Orginal Price      61
Predicted Price    16
dtype: int64

In [13]:
df['Orginal Price'].unique()

array([1249000.,  220000., 1250000.,  599900.,  986950.,  182500.,
        222500.,  795000., 1150000.,  941950.,  725000.,  738069.,
        258250.,  350000.,  825000.,  695000.,  647042.,  654900.,
       1100000., 1078950.,  299000., 1895000.,  275000.,  644900.,
        494900.,  688063., 1525720.,  865000.,  579164., 1657540.,
        875000.,  991950.,  415000.,  899000., 1024950.,  925000.,
        412164.,  933950.,  550000., 1040950.,  891950.,  701000.,
        238000.,  599555., 1910991.,  900000.,  867449., 1500000.,
        599950.,  359000., 1300000.,  215000.,  518000.,  999800.,
       1124950.,  850000., 1470000.,  661559.,  715000.,  524900.,
        677544.])

In [14]:
for i in df.columns:
    print(i)

ID
Orginal Price
Predicted Price

In [15]:
print(f"Number of Rows: {df.shape[0]} \nNumber of Columns: {df.shape[1]}")

Number of Rows: 66
Number of Columns: 3

In [17]:

for cols in df.columns:
    print(cols)

ID
Orginal Price
Predicted Price

In [18]:

print(df.count())

ID                 66
Orginal Price      66
Predicted Price    66
dtype: int64

In [19]:

print(df.isnull().sum())

ID                 0
Orginal Price      0
Predicted Price    0
dtype: int64

In [21]:
df = df.drop('Orginal Price', axis=1)

In [22]:
df.head()

   ID  Predicted Price
0   1           751391
1   2           255736
2   3          1088912
3   4           604636
4   5          4856484